#major {
	overflow: hidden;

	display: flex;
	align-items: flex-start;

	#catalog {
		width: 10rem;

		background-color: #fff;

		overflow: visible;

		#majorPart {
			width: 11rem;

			padding: 1rem 0 2rem 0;

			overflow: scroll;

			display: flex;
			flex-direction: column;

			button {
				width: 10rem;
				height: 1.4rem;

				padding: 0.2rem 1rem;

				border-width: 5px 0 5px 5px;
				border-color: #d1c4e9;
				border-style: none;

				background-color: #fff;
			}
		}
	}

	#content {
		width: 20rem;

		padding: 1.5rem 1.5rem 2.5rem 1.5rem;
		margin: 0 0 0 1rem;

		background-color: #fff;

		overflow: scroll;

		display: none;

		button {
			border-style: none;
		}
	}
}
