$basic: #673ab7;
$primary: #ffc108;
$primary-light: #ffda6d;

$max-width-1: 768px;
$max-width-2: 992px;
$max-width-3: 1200px;

body {
    overflow: hidden;

    background-color: #fff;

    main {
        width: 100%;

        cursor: move;

        #map {
            width: 100%;

            .bee {
                border-style: solid;
                border-radius: 0.75rem;
                background-color: $primary;
                border-color: $primary-light;
            
                position: absolute;
            
                border-width: 0.3rem;

                width: 1.5rem;
                height: 1.5rem;
            }
            
            .hive {
                button {
                    border-radius: 0;
                    border-style: none;

                    position: absolute;
                }
            
                #b {
                    transform: translate(-50%, -50%);
                    transform: rotate(60deg);
                }
            
                #c {
                    transform: translate(-50%, -50%);
                    transform: rotate(300deg);
                }

                #outer {
                    #a, #b, #c {
                        background-color: $primary-light;
                
                        width: 1rem * 1.732;
                        height: 1rem;
                    }
                }

                #inner {
                    #a, #b, #c {
                        background-color: $primary;
                
                        width: 0.7rem * 1.732;
                        height: 0.7rem;

                        margin: 0.25rem;
                    }
                }
            }

            #beijing {
                width: 100%;

                position: absolute;
                top: -190rem;
                left: -100rem;

                img {
                    width: 300rem;
                }

                #thc {
                    #A, #B, #C, #a, #b, #c {
                        top: 206rem;
                        left: 150rem;
                    }
                }

                #bjfu {
                    top: 199rem;
                    left: 132rem;
                }

                #ustb {
                    top: 200rem;
                    left: 137rem;
                }

                #buaa {
                    top: 204rem;
                    left: 133rem;
                }

                #bfa {
                    top: 206rem;
                    left: 136rem;
                }

                #bit {
                    top: 209rem;
                    left: 131rem;
                }

                #bucea {
                    top: 212rem;
                    left: 133rem;
                }

                #btbu {
                    top: 214rem;
                    left: 130rem;
                }

                #cuc {
                    top: 214rem;
                    left: 163rem;
                }

                #bisu {
                    top: 214rem;
                    left: 166rem;
                }

                #cnu {
                    top: 217rem;
                    left: 126rem;
                }

                #bjut {
                    top: 222rem;
                    left: 152rem;
                }

                #cmu {
                    top: 226rem;
                    left: 135rem;
                }

                #cueb {
                    top: 229rem;
                    left: 130rem;
                }
            }

            #china {
                width: 100%;

                position: absolute;
                top: -10rem;
                left: -35rem;

                display: none;

                img {
                    width: 100rem;
                }

                #beijing_all {
                    #A, #B, #C, #a, #b, #c {
                        top: 31rem;
                        left: 71rem;
                    }
                }

                #jilin_jlu {
                    top: 21rem;
                    left: 85rem;
                }

                #tianjin_nku {
                    top: 33rem;
                    left: 72rem;
                }

                #shanxi_tyut {
                    top: 38rem;
                    left: 63rem;
                }

                #hubei_whu {
                    top: 50rem;
                    left: 63rem;
                }

                #chongqing_cqu {
                    top: 52rem;
                    left: 55rem;
                }

                #hunan_nudt {
                    top: 57rem;
                    left: 62rem;
                }

                #guangdong_sysu {
                    top: 65rem;
                    left: 69rem;
                }

            }

            #world {
                width: 100%;

                position: absolute;
                top: -10rem;
                left: -60rem;

                display: none;

                img {
                    width: 150rem;
                }

                #china_all {
                    #A, #B, #C, #a, #b, #c {
                        top: 29rem;
                        left: 120rem;
                    }
                }

                #ireland_ucd {
                    top: 23rem;
                    left: 67rem;
                }
            }

            #mapUp {
                border-style: none;
                border-radius: 0;

                position: absolute;
                top: 6rem;
                left: 0;

                background-color: $basic;

                width: 4rem;
                height: 2rem;

                display: flex;
                justify-content: flex-end;
                align-content: center;

                img {
                    width: 1rem;

                    margin: 0.5rem;
                }
            }
        }
    }
}