$bg-dark-primary: #512da8;
$bg-primary: #673ab7;
$bg-light-primary: #d1c4e9;
$bg-dark-secondary: #212121;
$txt-light-primary: #ffffff;

$max-width-1: 768px;
$max-width-2: 992px;
$max-width-3: 1200px;

h2 {
    font-size: 1.6rem;
    font-weight: normal;

    margin: 3rem;
}

.person {
    display: flex;

    @media (max-width: $max-width-1) {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: normal;

        color: $bg-dark-primary;

        margin: 0.8rem 0.6rem;

        @media (max-width: $max-width-1) {
            margin-top: 1.6rem;
            margin-bottom: 0;
        }
    }

    p {
        font-size: 1.2rem;

        margin: 0.8rem 0.6rem;
    }
}