@charset "UTF-8";
@font-face {
  font-family: '焦糖奶茶';
  src: local("焦糖奶茶"), url("fonts/焦糖奶茶.ttf") format("truetype"); }
html {
  margin: 0;
  padding: 0;
  background-image: url("images/sky.svg"); }
  html * {
    margin: 0;
    padding: 0;
    font-family: "焦糖奶茶"; }
  html h1 {
    writing-mode: tb-rl;
    font-size: 4em;
    color: #ffffff; }
    @media (max-width: 1000px) {
      html h1 {
        writing-mode: lr-tb;
        font-size: 3.4rem; } }
  html h2 {
    writing-mode: tb-rl;
    font-size: 3em;
    color: #ffffff; }
    @media (max-width: 1000px) {
      html h2 {
        writing-mode: lr-tb; } }
  html p {
    font-size: 2em;
    color: #ffffff; }
  html a {
    text-decoration: none;
    color: #ffffff; }
  html .home {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: 'h m' 'h f';
    align-items: center; }
    @media (max-width: 1000px) {
      html .home {
        grid-template-columns: 1fr;
        grid-template-areas: 'h' 'm' 'f'; } }
    @media (max-width: 600px) {
      html .home {
        grid-template-columns: 1fr;
        grid-template-areas: 'h' 'm' 'f'; } }
    html .home header {
      grid-area: h;
      margin: auto; }
      html .home header .title {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 'a b'; }
        @media (max-width: 600px) {
          html .home header .title {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 'a' 'b'; } }
        html .home header .title .a {
          grid-area: a;
          padding-bottom: 10rem; }
          @media (max-width: 1000px) {
            html .home header .title .a {
              padding: 0; } }
          html .home header .title .a img {
            width: 2rem;
            margin: 0rem 0rem 1rem 1.5rem; }
            @media (max-width: 1000px) {
              html .home header .title .a img {
                margin: 0rem 0rem 0.7rem 0rem; } }
            @media (max-width: 600px) {
              html .home header .title .a img {
                margin: 0rem 0rem 0.7rem 0rem; } }
        html .home header .title .b {
          grid-area: b;
          padding-top: 14rem; }
          @media (max-width: 1000px) {
            html .home header .title .b {
              padding: 0; } }
          @media (max-width: 600px) {
            html .home header .title .b {
              padding: 0rem 1.5rem; } }
    html .home main {
      grid-area: m;
      display: grid;
      grid-template-columns: 5fr 2fr;
      grid-template-areas: 'm w'; }
      @media (max-width: 1000px) {
        html .home main {
          grid-template-columns: 1fr;
          grid-template-areas: 'm' 'w'; } }
      html .home main .map {
        grid-area: m; }
        html .home main .map img {
          width: 90%;
          margin: 5% 5% 0% 5%; }
      html .home main .wormhole-link {
        grid-area: w; }
        html .home main .wormhole-link img {
          width: 50%;
          margin: 25% 15%; }
          @media (max-width: 1000px) {
            html .home main .wormhole-link img {
              width: 25%;
              margin: 0% 10%; } }
    html .home footer {
      grid-area: f;
      margin: 0rem 1.5rem 1.5rem 0rem;
      display: grid;
      grid-template-areas: 'h p g';
      justify-content: end; }
      html .home footer .help {
        grid-area: h;
        padding: 0.25rem;
        margin-right: 1.5rem; }
      html .home footer .people-link {
        grid-area: p;
        padding: 0.25rem; }
      html .home footer .github-link {
        grid-area: g;
        padding: 0.25rem;
        margin-right: 0.5rem; }
      html .home footer img {
        width: 1.5rem; }
  html .room {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: 't m'; }
    @media (max-width: 1000px) {
      html .room {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 9fr;
        grid-template-areas: 't' 'm'; } }
    html .room header {
      grid-area: t; }
      html .room header .title {
        margin: 2rem 0rem 0rem 2rem; }
    html .room main {
      grid-area: m; }
      html .room main .main-text {
        margin: 1.5rem 2rem 2rem 0rem; }

/*# sourceMappingURL=styles.css.map */
