@charset 'UTF-8';

@font-face {
    font-family: 汉仪文黑;
    src: local('汉仪文黑'), url('fonts/HYWenHei-75W.ttf');
}

@font-face {
    font-family: 微软雅黑;
    src: local('微软雅黑'), url('fonts/MicrosoftYaHei.ttf');
}

$bg-dark-primary: #512da8;
$bg-primary: #673ab7;
$txt-light-primary: #ffffff;

html {
    margin: 0;
    padding: 0;

    * {
        margin: 0;
        padding: 0;

        font-family: 微软雅黑;
    }

    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 16pt;
    }

    a {
        text-decoration: none;
    }

    body {
        header {
            width: 100%;
            height: 50pt;

            background-color: $bg-primary;

            display: flex;
            justify-content: space-between;

            .nav-left {
                width: 300pt;

                background-color: $bg-dark-primary;

                h1 {
                    float: left;

                    margin: 10pt 25pt 10pt 55pt;

                    a {
                        font-family: 汉仪文黑;
                        color: $txt-light-primary;
                    }
                }
                button {
                    float: left;

                    margin: 15pt 0;

                    background: transparent;
                    border: none;

                    img {
                        width: 16pt;

                        display: none;
                    }
                }
            }

            .nav-right {
                background-color: $bg-primary;

                ul {
                    list-style-type: none;

                    li {
                        float: left;

                        margin: 16pt 20pt 16pt 0;

                        a {
                            color: $txt-light-primary;

                            img {
                                width: 16pt;

                                margin: 0 30pt 0 5pt;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;

        display: flex;
        justify-content: center;

        .copyright {
            p {
                font-size: 10pt;
            }
        }
    }
}