@charset 'UTF-8';

@font-face {
    font-family: 汉仪文黑;
    src: local('汉仪文黑'), url('fonts/HYWenHei-75W.ttf');
}

@font-face {
    font-family: 微软雅黑;
    src: local('微软雅黑'), url('fonts/MicrosoftYaHei.ttf');
}

$bg-dark-primary: #512da8;
$bg-primary: #673ab7;
$txt-light-primary: #ffffff;

$mobile-max-width: 768px;
$tablet-max-width: 992px;
$desktop-max-width: 1200px;

html {
    margin: 0;
    padding: 0;

    * {
        margin: 0;
        padding: 0;

        font-family: 微软雅黑;
    }

    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 16pt;
    }

    a {
        text-decoration: none;
    }

    .m-border-bottom {
        @media (max-width: $mobile-max-width) {
            border-bottom-style: solid;
            border-width: 1pt;
            border-bottom-color: $txt-light-primary;
        }
    }

    .hidden {
        visibility: hidden;
    }

    body {
        header {
            width: 100%;
            height: 50pt;

            background-color: $bg-primary;

            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: $mobile-max-width) {
                height: 230pt;

                flex-direction: column;
            }

            .nav-left {
                width: 300pt;
                height: 50pt;

                background-color: $bg-dark-primary;

                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: $mobile-max-width) {
                    width: 100%;
                }

                h1 {
                    padding: 0 0 2pt 0;

                    a {
                        font-family: 汉仪文黑;
                        color: $txt-light-primary;
                    }
                }

                button {
                    margin: 0 15pt;
                    padding: 0 0 3pt 0;

                    background: transparent;
                    border: none;

                    img {
                        width: 16pt;

                        display: none;

                        @media (max-width: $mobile-max-width) {
                            display: block;
                        }
                    }
                }
            }

            .nav-right {
                background-color: $bg-primary;

                display: flex;
                justify-content: center;

                @media (max-width: $mobile-max-width) {
                    width: 100%;
                }

                ul {
                    list-style-type: none;

                    display: flex;

                    @media (max-width: $mobile-max-width) {
                        width: 80%;
                        height: 180pt;

                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                    }

                    li {
                        margin: 0 20pt 0 0;

                        @media (max-width: $mobile-max-width) {
                            width: 100%;
                            height: 25%;

                            margin: 0;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        a {
                            color: $txt-light-primary;
                            
                            img {
                                width: 16pt;

                                margin: 0 30pt 0 5pt;

                                @media (max-width: $mobile-max-width) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;

        display: flex;
        justify-content: center;

        .copyright {
            p {
                font-size: 10pt;
            }
        }
    }
}