@charset 'UTF-8';

@font-face {
    font-family: '焦糖奶茶';
    src: local('焦糖奶茶'), url('fonts/焦糖奶茶.woff') format('woff'), url('fonts/焦糖奶茶.ttf') format('truetype'), url('fonts/焦糖奶茶.svg#焦糖奶茶') format('svg');
}  

html,
html * {
    margin: 0;
    padding: 0;
}

.title {
    width: 10%;
    float: left;
}

.title h1 {
    writing-mode: tb-rl;
    font-family: "焦糖奶茶";
    font-size: 4em;
}

.nav {
    width: 50%;
    float: right;
    text-align: right;
}

.nav ul {
    list-style-type: none;
}

.nav a {
    font-family: "焦糖奶茶";
    font-size: 2em;
    text-decoration: none;
}

.nav.top a {
    color: #000;
}

.nav.bottom a {
    color: #555;
}

.nav a:hover {
    color: #999;
}